<div>
    <label for="">Nome: </label>
    <input class="form-control mt-10 mb-10" type="text" [(ngModel)]="name" name="nome" placeholder="Nome Completo" />
    <p class="mt-5 mb-5" style="color: red;" *ngIf="nameError ? name == '' : false">O campo Nome é obrigatório!</p>

    <label for="">E-mail: </label>
    <input class="form-control mt-10 mb-10" type="email" [(ngModel)]="email" name="email" placeholder="exemplo@hotmail.com" />
    <p class="mt-5 mb-5" style="color: red;" *ngIf="emailError ? email == '' : false">O campo E-mail é obrigatório!</p>

    <label for="">Telefone: </label>
    <input class="form-control mt-10 mb-10" type="tel" name="telefone" [(ngModel)]="phone" placeholder="(81)99999-6666" />
    <p class="mt-5 mb-5" style="color: red;" *ngIf="phoneError ? phone == '' : false">O Telefone Nome é obrigatório!</p>

    <div>
      <!-- <button [disabled]="(name == '' || email == '' || phone == '')" class="" (click)="inserirCliente()">Registrar</button> -->
      <button (click)="inserirCliente()">Registrar</button>
    </div>
  </div>